<form #form="ngForm">
    <mat-card class="cardWithShadow">
      
        <mat-card-content class="p-24">
          <div fxLayout="column" fxLayoutAlign="center center">
    
            <mat-form-field appearance="outline" class="w-100">
              <label>Cout achat </label>
              <input matInput type="text" name="cout_achat" [(ngModel)]="foyer.cout_achat" required>
              <mat-error *ngIf="form.controls['cout_achat'].invalid && form.controls['cout_achat'].touched" class="red-text">
                <span *ngIf="form.controls['cout_achat'].hasError('required')">Required</span>
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="w-100">
              <label>nombre de copie</label>
              <input matInput type="number" name="nbrcopie" [(ngModel)]="foyer.nbrcopie" required>
              <mat-error *ngIf="form.controls['nbrcopie'].invalid && form.controls['nbrcopie'].touched" class="red-text">
                <span *ngIf="form.controls['nbrcopie'].hasError('required')">Required</span>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="w-100">
              <label>Reference foyer</label>
              <input matInput type="text" name="referencefoyer" [(ngModel)]="foyer.referencestock" required>
            
              <mat-error *ngIf="form.controls['referencefoyer'].invalid && form.controls['referencefoyer'].touched" class="red-text">
                <span *ngIf="form.controls['referencefoyer'].hasError('required')">Required</span>
              </mat-error>
            </mat-form-field>
 
  
  
        <button mat-flat-button color="accent" class="w-100" type="submit" [disabled]="!form.valid" (click)="update(form.value)">Update Stock</button>
      </div>
      </mat-card-content>
    </mat-card>
  </form>
  
  