<form #form="ngForm">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
  
        <div class="form-group w-100">
          <mat-form-field appearance="outline" class="w-100">
            <label>Name</label>
            <input matInput type="text" name="name" [(ngModel)]="employee.name" required>
            <mat-error *ngIf="form.controls['name'].invalid && form.controls['name'].touched" class="red-text">
              <span *ngIf="form.controls['name'].hasError('required')">Required</span>
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="form-group w-100">
          <mat-form-field appearance="outline" class="w-100">
            <label>Date of Birth</label>
            <input matInput [matDatepicker]="dobDatepicker" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" required>
            <mat-datepicker-toggle matSuffix [for]="dobDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #dobDatepicker></mat-datepicker>
            <mat-error *ngIf="form.controls['dateOfBirth'].invalid && form.controls['dateOfBirth'].touched" class="red-text">
              <span *ngIf="form.controls['dateOfBirth'].hasError('required')">Required</span>
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="form-group w-100">
          <mat-form-field appearance="outline" class="w-100">
            <label>Email</label>
            <input matInput type="email" name="email" [(ngModel)]="employee.email" required>
            <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="red-text">
              <span *ngIf="form.controls['email'].hasError('required')">Required</span>
              <span *ngIf="form.controls['email'].hasError('email')">Invalid email format</span>
            </mat-error>
          </mat-form-field>
        </div>
  
        <button mat-flat-button color="accent" class="w-100" type="submit" [disabled]="!form.valid" (click)="updateEmployee(form.value)">Update Employee</button>
  
      </mat-card-content>
    </mat-card>
  </form>