<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div fxLayout="column" fxLayoutAlign="center center">
        Add a New Employee
      </div>
    </mat-card-content>
  </mat-card>
  
  <form #form="ngForm">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div fxLayout="column" fxLayoutAlign="center center">
  
          <mat-form-field appearance="outline" class="w-100">
            <label>Employee ID</label>
            <input matInput type="number" name="employeeId" [(ngModel)]="employee.employeeId" required>
            <mat-error *ngIf="form.controls['employeeId'].invalid && form.controls['employeeId'].touched" class="red-text">
              <span *ngIf="form.controls['employeeId'].hasError('required')">Required</span>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="w-100">
            <label>First Name</label>
            <input matInput type="text" name="firstName" [(ngModel)]="employee.firstName" required>
            <mat-error *ngIf="form.controls['firstName'].invalid && form.controls['firstName'].touched" class="red-text">
              <span *ngIf="form.controls['firstName'].hasError('required')">Required</span>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="w-100">
            <label>Last Name</label>
            <input matInput type="text" name="lastName" [(ngModel)]="employee.lastName" required>
            <mat-error *ngIf="form.controls['lastName'].invalid && form.controls['lastName'].touched" class="red-text">
              <span *ngIf="form.controls['lastName'].hasError('required')">Required</span>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="w-100">
            <label>Email</label>
            <input matInput type="email" name="email" [(ngModel)]="employee.email" required>
            <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="red-text">
              <span *ngIf="form.controls['email'].hasError('required')">Required</span>
              <span *ngIf="form.controls['email'].hasError('email')">Invalid email</span>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="w-100">
            <label>Job Title</label>
            <input matInput type="text" name="jobTitle" [(ngModel)]="employee.jobTitle" required>
            <mat-error *ngIf="form.controls['jobTitle'].invalid && form.controls['jobTitle'].touched" class="red-text">
              <span *ngIf="form.controls['jobTitle'].hasError('required')">Required</span>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="w-100">
            <label>Phone</label>
            <input matInput type="text" name="phone" [(ngModel)]="employee.phone" required>
            <mat-error *ngIf="form.controls['phone'].invalid && form.controls['phone'].touched" class="red-text">
              <span *ngIf="form.controls['phone'].hasError('required')">Required</span>
            </mat-error>
          </mat-form-field>
  
          <button mat-flat-button color="accent" class="w-100" type="submit" value="Add Employee" [disabled]="!form.valid" (click)="addEmployee()">Add Employee</button>
  
        </div>
      </mat-card-content>
    </mat-card>
  </form>