
<mat-card class="cardWithShadow" >
  <mat-card-content class="p-24">
    <div class="d-flex w-100">
      <!-- Search Input -->
      <input type="text" placeholder="Search" [(ngModel)]="search">
      <button mat-flat-button color="accent" class="w-10" routerLink="/Emprunt/addEmp">Add Emprunt</button>

    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content class="p-20">
    <div>
      <!-- Foyer Table -->
      <div class="table-container ">
        <table class="table">
          <thead>
          <tr>
            <th class="table-header">abonne</th>
            <th class="table-header">date emprunt</th>
            <th class="table-header">date retour</th>
            <th class="table-header">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let foyer of displayedFoyers">
            <td class="table-cell">{{ foyer.abonne }}</td>
            <td class="table-cell">{{ foyer.date_Emprunt }}</td>
            <td class="table-cell">{{ foyer.date_retourE }}</td>
            <td class="table-cell">
              <div>
                <button
                  mat-stroked-button
                  class="flex-grow-1 d-flex align-items-center bg-success text-white"
                  type="submit"
                  value="Update Foyer"
                  (click)="update(foyer)"
                >
                  Update
                </button>
                <button
                  mat-flat-button
                  color="warn"
                  class="flex-grow-1"
                  (click)="deleteFoyerById(foyer.idEmprunt)"
                >
                  Delete
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<!-- Update Section-->

<div *ngIf="show">
  <app-update-emprunt [foyer]="usertoSelected" (updateUser)="changeTab($event)"></app-update-emprunt>
</div>
